.container{width:100%;height:100%;}
/* header */
.header{width:1450px;overflow:hidden;margin:0 auto;padding:31px 0 23px 0}
.header h1{float:left;height:22px;}
.header .navigation{float:right;}
.header .navigation li{float:left;margin-right:80px;font-size:16px;font-weight:700;padding-bottom:8px;}
.header .navigation li.on{color:#006FCD;border-bottom:2px solid #006FCD}

/* detail */
.content{display:block;}
.content .topbanner{text-align:center;background-color:#006fcd;}
.content .wrap{width:1440px;margin:0 auto;}
.wrap{overflow:hidden;}


/* 정규인력 요청 리스트 */
.content .wrap .left_section{overflow-y:auto;width:475px;height:1000px;float:left;padding:50px 24px 91px;background-color:#F7F8FC;border-right:1px solid #DFDFDF;}
.content .wrap .left_section .title{overflow:hidden;}
.content .wrap .left_section .title h2{float:left;font-size:18px;font-weight:700;height:42px;line-height:42px;}
.content .wrap .left_section .title .btn{float:right;}
.content .wrap .left_section .title .btn button{min-width:80px;}
.content .wrap .left_section .title .btn button::before{content:"";display:block;float:left;width:20px;height:20px;background:url('/images/ico/option_ico.png');background-size:20px;}
.content .wrap .left_section .list_items{margin-top:24px;}
.content .wrap .left_section .list_items li{display:block;height:123px;overflow:hidden;font-size:15px;font-weight:600;background-color:#fff;border:1px solid #DFDFDF;padding:16px 0 16px 16px;margin-bottom:20px;border-radius:10px;cursor:pointer;}
.content .wrap .left_section .list_items li.on{border:2px solid #006DCD;box-shadow: 0px 4px 4px 0px #006FCD1A;}
.content .wrap .left_section .list_items li.nodata{background:none;border:none;text-align:center;}
.content .wrap .left_section .list_items li .state{float:left;overflow:hidden;font-size:12px;color:#888;width:45px;padding:6px 10px;background-color:#B6B6B614;border:1px solid #C8C8C8;border-radius:10px;}
.content .wrap .left_section .list_items li .state.register{color:#FF9701;border:1px solid #FF9701;background-color:#fff7eb;}
.content .wrap .left_section .list_items li .state.progress{color:#006FCD;border:1px solid #006FCD;background-color:#dcefff;}
.content .wrap .left_section .list_items li .state.return{color:#EF141F;border:1px solid #EF141F;background-color:#fdf1f1;}
.content .wrap .left_section .list_items li .section{float:left;width:330px;margin-left:8px;}
.content .wrap .left_section .list_items li .section .tit_tx{height:40px;margin-bottom:20px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
.content .wrap .left_section .list_items li .section .tx_info{color:#666;font-size:12px;}
.content .wrap .left_section .list_items li .section .priority{float:left;margin-right:14px;}
.content .wrap .left_section .list_items li .section .priority .prior{margin-left:8px;padding:4px 5px;border-radius:20px;}
.content .wrap .left_section .list_items li .section .priority .prior.h{border:1px solid #F4E3E3;color:#DE767A;}
.content .wrap .left_section .list_items li .section .priority .prior.m{border:1px solid #F6E3C7;color:#D18415;}
.content .wrap .left_section .list_items li .section .priority .prior.l{border:1px solid #C8D8E5;color:#739EC3;}
.content .wrap .left_section .list_items li .section .date{float:left;margin-right:14px;}
.content .wrap .left_section .list_items li .section .num{float:left;}

/* 정규인력 요청 상세 */
.content .wrap .right_section{overflow-y:auto;width:965px;height:1000px;float:right;padding-bottom:152px;}
.content .wrap .right_section .detail_content{margin:50px 40px 0 40px;}
.content .wrap .right_section .detail_content h2{float:left;width:780px;font-size:22px;font-weight:600;padding-bottom:15px;}
.content .wrap .right_section .detail_content .state{float:left;margin-right:18px;overflow:hidden;font-size:12px;color:#888;width:45px;padding:6px 10px;background-color:#B6B6B614;border:1px solid #C8C8C8;border-radius:10px;}
.content .wrap .right_section .detail_content .state.register{color:#FF9701;border:1px solid #FF9701;background-color:#fff7eb;}
.content .wrap .right_section .detail_content .state.progress{color:#006FCD;border:1px solid #006FCD;background-color:#dcefff;}
.content .wrap .right_section .detail_content .state.return{color:#EF141F;border:1px solid #EF141F;background-color:#fdf1f1;}
.content .wrap .right_section .detail_content .tx_info{overflow:hidden;width:845px;padding-left:63px;padding-bottom:30px;border-bottom:1px solid #DFDFDFB2;}
.content .wrap .right_section .detail_content .priority{float:left;margin-right:14px;}
.content .wrap .right_section .detail_content .priority .prior{display:inline-block;margin-left:8px;padding:4px 5px;border-radius:20px;}
.content .wrap .right_section .detail_content .priority .prior.h{border:1px solid #F4E3E3;color:#DE767A;}
.content .wrap .right_section .detail_content .priority .prior.m{border:1px solid #F6E3C7;color:#D18415;}
.content .wrap .right_section .detail_content .priority .prior.l{border:1px solid #C8D8E5;color:#739EC3;}
.content .wrap .right_section .detail_content .date{height:28px;line-height:28px;float:left;margin-right:14px;}
.content .wrap .right_section .detail_content .num{height:28px;line-height:28px;float:left;}

.content .wrap .right_section .detail_content .accordion{width:845px;border:1px solid #DFDFDF;border-radius:12px;margin-top:62px;cursor:pointer}
.content .wrap .right_section .detail_content .accordion.detail{margin-top:24px}
.content .wrap .right_section .detail_content .accordion .title{overflow:hidden;padding:14px 36px;}
.content .wrap .right_section .detail_content .accordion .title h3{float:left;height:46px;line-height:43px;font-size:16px;font-weight:600;}
.content .wrap .right_section .detail_content .accordion .title h3 .acc_num{background-color:#40464F;font-size:12px;color:#fff;width:35px;border-radius:20px;text-align:center;height:26px;line-height:25px;margin-top:9px;margin-left:10px;}
.content .wrap .right_section .detail_content .accordion .title h3 img{margin-right:10px}
.content .wrap .right_section .detail_content .accordion .title span{float:right;margin-top:16px;}
.content .wrap .right_section .detail_content .accordion .title span .arrowIcon{width:18px;height:9px;}
.content .wrap .right_section .detail_content .accordion .content{overflow:hidden;border-top:1px solid #DFDFDF;padding:30px;}
.content .wrap .right_section .detail_content .accordion .content li{width:100%;overflow:hidden;color:#888888;font-size:14px;border-bottom:1px solid #DFDFDF;padding:20px 0;}
.content .wrap .right_section .detail_content .accordion .content li:first-child{padding-top:0;}
.content .wrap .right_section .detail_content .accordion .content li:last-child{clear:both;border-bottom:0;padding-bottom:0}
.content .wrap .right_section .detail_content .accordion .content li.half_line1{width:380px;float:left}
.content .wrap .right_section .detail_content .accordion .content li.half_line2{width:380px;float:right}
.content .wrap .right_section .detail_content .accordion .content li.half_line3{width:380px;float:left}
.content .wrap .right_section .detail_content .accordion .content li.half_line4{width:380px;float:right}
.content .wrap .right_section .detail_content .accordion .content li .tit_tx{display:block;float:left;width:80px;margin-right:40px;color:#888888;text-align:left;}
.content .wrap .right_section .detail_content .accordion .content li .p_tx{display:block;float:left;color:#191F28;font-weight:700}
.content .wrap .right_section .detail_content .accordion .content li:last-child .p_tx{width:650px;}
.content .wrap .right_section .detail_content .accordion.detail li.half_line1{padding-top:0}
.content .wrap .right_section .detail_content .accordion.detail li.half_line2{padding-top:0}


.left_section::-webkit-scrollbar, .right_section::-webkit-scrollbar{width:4px;}
.left_section::-webkit-scrollbar-thumb, .right_section::-webkit-scrollbar-thumb{background-color:#DFDFDF;border-radius:10px;}
.left_section::-webkit-scrollbar-track, .right_section::-webkit-scrollbar-track{background-color:rgba(220, 20, 60, .0);}

.content .wrap .not_page{margin:50px 0;}
.content .wrap .not_page h2{font-size:20px;font-weight:bold;}
.content .wrap .not_page p{font-size:15px;margin-top:10px;}
.content .wrap .not_page .btn{margin-top:15px;}
.content .wrap .not_page .btn a{display:block;width:50px;text-align:center;background-color:#000;color:#fff;border-radius:5px;padding:5px 0;}