.loginbg{float:left;position:relative;width:39vw;height:100vh;}
.loginbg img{object-fit:cover;}
.loginSection{float:left;width:840px;}
.loginSection .content{width:375px;margin:380px auto 0;}
.loginSection .content h1{font-size:22px;font-family:Pretendard;font-weight:600;margin-bottom:20px;}
.loginSection .content input{width:100%;padding:12px 0 12px 16px;font-size:16px;color:#888;border:1px solid #cfcfd0;border-radius:4px;margin-bottom:16px;}
.loginSection .content .saveid{overflow:hidden;font-size:14px;color:#000;margin-bottom:24px;}
.loginSection .content .saveid input[type="checkbox"]{float:left;display:inline;width:18px;height:18px;margin:0;}
.loginSection .content .saveid .saveidtx{float:left;margin-left:5px;margin-bottom:10px;}
.loginSection .content button{width:100%;text-align:center;background-color:#000;color:#fff;font-size:16px;border-radius:4px;padding:14px 0;}
.loginSection .content .join_section{width:318px;margin:20px auto 0;}
.loginSection .content .join_section li{float:left;color:#888;}
.loginSection .content .join_section li.line{color:#D9D9D9;margin:0 14px;}