/* detail */
.content{display:block;}
.content .topbanner{text-align:center;background-color:#006fcd;}
.content .wrap{overflow:hidden;width:1200px;margin:50px auto 60px;}

.content .wrap h2{margin-bottom:40px}

.noticeBoard{display:flex;flex-direction:column;width:100%;max-width:1200px;margin:0 auto;border-top:1px solid #191F28;} 
.noticeHeader{display:grid;grid-template-columns:1fr 7fr 1fr 1fr;padding:20px 0;background-color:#f5f5f5;font-weight:bold;text-align:center;border-bottom:1px solid #dfdfdf;font-size:14px;font-weight:600;color:#4A4A4A;}
.noticeItem{display:grid;grid-template-columns:1fr 7fr 1fr 1fr;padding:22px 0;border-bottom:1px solid #dfdfdf;text-align:center;font-size:14px;font-weight:600;color:#4A4A4A;}
.tit_tx{text-align:left;}
.pagination{margin-top:20px;text-align:center;}
.pagination button.prev{width:30px;height:30px;display:inline-block;font-size:0;margin:0 10px;border-radius:50%;background: url('../../public/images/ico/btn_pagination.png') no-repeat -28px -28px;background-color:#F7F8FC;}
.pagination button.next{width:30px;height:30px;display:inline-block;font-size:0;margin:0 10px;border-radius:50%;background: url('../../public/images/ico/btn_pagination.png') no-repeat -56px -28px;background-color:#F7F8FC;}
.pagination button:disabled{cursor:not-allowed;opacity:0.5;background-color:#fff;}
.pagination span{display:inline-block;font-size:16px;height:30px;line-height:36px;vertical-align:middle;}
.noNotices{text-align:center;padding:300px 0;border-bottom:1px solid #dfdfdf;font-size:16px;font-weight:600}


/* detail */
.noti_detail .header{width:100%;border-top:1px solid #222;background-color:#f8f8f8;border-bottom:1px solid #ddd;overflow:hidden;padding:20px;}
.noti_detail .header h3{float:left;}
.noti_detail .header .detail_info{float:right;}
.noti_detail .header .detail_info span{margin-right:10px;}
.noti_detail .content{padding:30px 20px;border-bottom:1px solid #ddd;}