.container{width:100%;height:100%;}
/* header */
.header{width:1440px;overflow:hidden;margin:0 auto;padding:31px 0}
.header h1{float:left;height:22px;}
.header .navigation{float:right;}
.header .navigation li{float:left;margin-right:80px;font-size:16px;font-weight:700}

/* detail */
.topbanner{text-align:center;background-color:#006fcd;}